{
  "trailingComma": "none",
  "printWidth": 100,
  "semi": false,
  "singleQuote": true,
  "endOfLine": "auto",
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": false,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrder": ["^firebase/firestore", "<THIRD_PARTY_MODULES>", "^@/(.*)$", "^[./]"]
}
